@layer base {
    :root {
        --color-border: #e2e8f061;
        --color-input: #e2e8f000;
        --color-ring: #0f4c81;

        --radius-sm: 0.125rem;
        --radius-md: 0.375rem;
        --radius-lg: 0.5rem;
        --radius-xl: 1rem;
        --radius-2xl: 1.5rem;
        --radius-3xl: 2.5rem;
    }

    .dark {
        --color-border: #2e2e2e;
        --color-input: #2e2e2e;
        --color-ring: #3a7bd5;
    }
}