/** @format */

@import 'tailwindcss';
@config "../../tailwind.config.js";

@import '../styles/main.css';

@theme {
  --font-display: var(--font-inter);
}

/* Custom Utilities */
@utility -soft {
  box-: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@utility text-gradient {
  background-image: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
  position: absolute;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-primary) / 0.2);
  border-radius: 999px;
  transition: background 0.2s ease;

}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-primary));
}

/* Base Styles */
body {
  @apply bg-background text-foreground antialiased selection:bg-primary selection:text-primary-foreground font-display;
}